/* Add a background color to the header element */
header {
    background-color: fuchsia;
    color: black;
}

/* Add a fun background color to the main element */
main {
    background-color: pink;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Put a border around your image */
img {
    width: 135px;
    height: 200px;
    border: 5px dashed #245;
}
/* Change the font-family of your list */
h2 {
    font-weight: bold;
    text-decoration: underline;
    color: blueviolet;
}
ul {
    font-family: 'Times New Roman', Times, sans-serif;
}
/* Add a background color to the footer element */
/* Make your p tag a different color and italic */
footer {
    background-color: rgb(193, 219, 216);
    font-style: italic;
    color: chocolate;
}

.author {
    font-style: normal;
    text-align: right;
}